.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Logs
logs
*.log
logs/*.log

# Firebase service account key
firebase-adminsdk.json

# dotenv environment variables file
.env

# macOS
*.DS_Store

# IDEs and text editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: if you use OS-specific files
Thumbs.db
Desktop.ini

# Build directories
dist/
build/

survey_questions.txt

styles_test