/* הגדרות כלליות */
.body {
    font-family: 'Noto Sans Hebrew', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.form-container {
    max-width: 300px;
    margin: 30px auto;
    padding: 20px 20px 20px 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    color: #d94f0b;
}

.form {
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #d94f0b;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #d94f0b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #c44405;
}

.message-container {
    color: #d94f0b;
}

.redirect-text {
    margin-top: 10px;
}

.redirect-link {
    color: #d94f0b;
    text-decoration: none;
}

.redirect-link:hover {
    text-decoration: underline;
}

.red-alert-login {
    color: rgb(157, 0, 0);
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255); /* שינוי הצבע לפי הבקשה שלך */
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.add-pic-register {
    text-align: right;
    font-size: 12px;
    margin-bottom: 5px;
}

.file-input {
    display: block;
    margin-bottom: 10px;
}
