/* הגדרות כלליות */
* {
    margin: 0;
    font-family: 'Noto Sans Hebrew', sans-serif;
    direction: rtl;
    font-size: 18px;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 300px;
    margin: 30px auto;
    padding: 20px 20px 20px 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    color: #f45c47;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #f45c47;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f45c47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #c44405;
}

.redirect-link {
    color: #f45c47;
    text-decoration: none;
}

.redirect-link:hover {
    text-decoration: underline;
}

.message-container {
    color: #f45c47;
}
